@model SlotsListViewModel

<h1 class="font-italic">Choose your parking slot:</h1>
<p> We've got: @Model.Slots.Count() slots</p>

<div class="col-sm-4 col-lg-4 col-md-4" id="slotsContainer">
    <div class="row">
        @foreach (var slot in Model.Slots)
        {
            <button class="slot" onclick="sendPut('@slot.Id')" id="@slot.Id">@slot.IsOccupied</button>
        }
    </div>
</div>
<script src="~/script.js"></script>

