@model SlotsListViewModel

@foreach (var slot in Model.Slots)
{
    <div>
        <h2>Parking Tile</h2>
        <h4 class="status">@slot.IsOccupied</h4>
        <h1 class="position">X: @slot.PosX | Y: @slot.PosY</h1>
        <p class="unimprotant">@slot.Id</p>
    </div>
}
