@model SlotsListViewModel
<div class="border-info">
    <p>@Model.Slots.Count()</p>
</div>

<div class="col-sm-4 col-lg-4 col-md-4" id="slotsContainer">
    <div>
        <button class="deleteButton" onclick="sendDelete()"><i class="fas fa-trash-alt"></i></button>
    </div>
    <div>
        <button class="addButton" onclick="sendPost()"><i class="fas fa-plus"></i></button>
    </div>
    <div class="row">
        @foreach (var slot in Model.Slots)
        {
            <button class="slot" onclick="sendPut('@slot.Id')" id="@slot.Id">@slot.IsOccupied</button>
        }
    </div>
</div>
<script src="~/script.js"></script>

